<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_teledeck._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>同一Wi-Fi上のMacを自動検出し、コントロールパッドとして接続するために使用します。</string>
	<key>NSCameraUsageDescription</key>
	<string>Macに表示されたペアリング用QRコードを読み取り、接続するために使用します。</string>
</dict>
</plist>
